<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <div>
        <img class="image" src="~/images/Colab-photo.jpg" alt="image" />
        <div class="left-button">
            <button type="submit" class="left"><strong><</strong></button>
        </div>
        <div class="right-button">
            <button type="submit" class="right"><strong>></strong></button>
        </div>
    </div>
    <div>
        <p>Most hyped products 🔥</p>
        <hr />
    </div>
    <div class="items">
        <table>
            <tr>
                <td>
                    <a href="/images/YoungBoy-NBA-x-Vlone-My-Window-Tee-Black-Mini-V.jpg">
                        <img src="~/images/YoungBoy-NBA-x-Vlone-My-Window-Tee-Black.jpg" class="home-image" alt="YoungBoy NBA x Vlone My Window Tee Black" />
                        <div class="item-info">
                            <p class="items-center">YoungBoy NBA x<br /> Vlone My Window Tee Black</p>
                        </div>
                        <div class="center-item">
                            <strong><p class="items-center">$100</p></strong>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="/images/Air-Jordan-4-Retro-Thunder-2023-Product.jpg">
                        <img src="~/images/Air-Jordan-4-Retro-Thunder-2023-Product.jpg" class="home-image" alt="Jordan 4 Retro Thunder" />
                        <div class="item-info">
                            <p class="items-center">Air Jordan 4 Retro Thunder (2023)</p>
                        </div>
                        <div class="center-item">
                            <strong><p class="items-center">$230</p></strong>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="~/images/Air-Jordan-1-Retro-High-Off-White-Chicago-Product.jpg">
                        <img src="~/images/Air-Jordan-1-Retro-High-Off-White-Chicago-Product.jpg" class="home-image" alt="Air Jordan 1 Retro High Off White Chicago" />
                        <div class="item-info">
                            <p class="items-center">Air Jordan 1 High Off-White Chicago</p>
                        </div>
                        <div class="center-item">
                            <strong><p class="items-center">$4,123</p></strong>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="/images/BAPE-ABC-Camo-Shark-Full-Zip-Hoodie-SS23-Green-v2.jpg">
                        <img src="~/images/BAPE-ABC-Camo-Shark-Full-Zip-Hoodie-SS23-Green-v2.jpg" class="home-image" alt="Bape ABC Camo Shark Full Zip Hoodie" />
                        <div class="item-info">
                            <p class="items-center">Bape ABC Camo Hoodie</p>
                        </div>
                        <div class="center-item">
                            <strong><p class="items-center">$525</p></strong>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <hr />
    </div>
</body>
</html>