html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.image {
    border-radius: 12px;
    object-position: center;
    object-fit: cover;
    display: block;
    height: 196px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#b-1 {
    margin-top: 40px;
}

.left-button {
    border-color: white;
    margin-left: 50%;
}

.right-button {
    border-color: white;
    margin-left: 50%;
}

.left {
    border-color: white;
    background: white;
    right: 397px;
    bottom: 104px;
    border-radius: 30px;
    position: relative;
    /*width: 28px;*/
}

.right {
    border-color: white;
    background: white;
    left: 371px;
    bottom: 129px;
    border-radius: 30px;
    position: relative;
    /*width: 28px;*/
}

#home-ui {
    position: relative;
    left: 100px;
}

.home-image {
    width: 260px;
    height: 200px;
    margin-top: 50px;
    border-radius: 12px;
}

.info {
    padding-left: 70px;
}

.items-center {
    padding-left: 30px;
}

a {
    color: black;
    text-decoration: none
}

    a:link {
        color: black;
    }

    a:hover {
        color: black;
    }

    a:active {
        color: black;
    }

td {
    padding: 45px;
}

.SingIn a {
    padding: 8px 16px; 
    border: 1px solid #ccc;
    border-radius: 15px; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s;
}

    .SingIn a:hover {
        background-color: #f0f0f0; 
    }

.LogIn a {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
    .LogIn a:hover {
        background-color: #f0f0f0;
    }

.gap-{
    padding: 4px;
}
.title-of-LogIn{
    margin-left: 120px;
    position: relative;
    top: 50px;
    left: 5px;
}

.-LogIn- {
    width: 540px;
    height: 400px;
    margin: 40px auto 0 auto;
    background: white;
    padding-right: 200px 100px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.move-input-1{
    margin-left: 125px;
    margin-top: 60px;
}

.input-width{
    width: 300px;
}

.log-in-button{
    width: 300px;
}
.link-to-register{
    float:
}