<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Brand</title>
    </head>
    <body>
    <table>
        <tbody>
        <tr>
                <th><img src="~/images/A_Bathing_Ape_(logo).jpg" class="brand-1" /><hr /</th>
                <th><img src="~/images/nike-logo.jpg" class="brand-1" /><hr /</th>
                <th><img src="~/images/Jumpman_logo.jpg" class="brand-1" /><hr /></th>
        </tr>
        <tr>
                <th><img src="~/images/yeezy.jpg" class="brand-2" /></th>
                <th><img src="~/images/Vlone.jpg" class="brand-2" /></th>
                <th><img src="~/images/off-white-logo.jpg" class="brand-2" /></th>
        </tr>
        </tbody>
    </table>
    </body>
</html>