<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
    <table>
        <div class="brand-1">
        <tr>
        
            <th><img src="~/images/A_Bathing_Ape_(logo).jpg" /></th>

            <th><img src="~/images/nike-logo.jpg"/></th>

            <th><img src="~/images/Jumpman_logo.jpg"/></th>
        </tr>
        </div>
        <div class="brand-2">
        <tr>
            <th><img src="~/images/yeezy.jpg" /></th>

            <th><img src="~/images/Vlone.jpg" /></th>
      
        </tr>
        </div>
    </table>
    </body>
</html>